.header {
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 1rem;
  border: 1px solid black;
}
.logo img {
  width: 100px;
}
.nav-item > ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
}
.nav-item > ul > li {
  font-size: 20px;
}
.top-rateBtn {
  margin-bottom: 1rem;
  cursor: pointer;
}
.res-card-wrapp {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.restarunt-cardContainer {
  margin: 1rem 0;
}
.res-card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
}
.res-card {
  background-color: #fdfafa;
  border-radius: 1rem;
  width: 200px;
  height: auto;
  padding: 1rem;
  box-shadow: 7px 6px 14px #e3e0e061;
  cursor: pointer;
}
.res-card:hover {
  background-color: #f2f2f2;
}
.res-card h1 {
  font-size: 18px;
}

.search-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
